.projetos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 50px;
}

.projeto-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 300px;
}

.projeto-card:hover {
  transform: scale(1.05);
}

.projeto-card img {
  max-width: 100%;
  border-radius: 8px;
}

.projeto-title {
  font-size: 18px;
  margin-top: 15px;
}

.projeto-description {
  font-size: 14px;
  margin-top: 10px;
  color: #777;
}

.projeto-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.projeto-title {
  color: white;
  font-family: 'Mali';
}

.projeto-description {
  color: white;
  font-family: 'Mali';
}

.btn-ver-projeto {
  text-decoration: none;
  color: #F75F1C;
  border: solid 1px white;
  background-color: white;
  padding: 5px;
  font-size: 13px;
  border-radius: 15px;
  font-family: 'Common pixel';
}

.btn-ver-projeto:hover {
  color: #85E21F;
  background-color: black;
  border: solid 1px black;
}