.nometrocadefonte{
  font-family: 'Montserrat', monospace;
  font-weight: bold;
  font-size: 3em;
  color: #FFFFFF;
  text-align: center;
}

body {
  background-color: #7C7A7A;
}

a{
   background-color: #98AFC7;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  padding: 5px 15px;
  font-weight: bold;
}

#fotoedit{
  border-radius: 100%;
  width: 180px;
} 

.sobreleomosca{
  font-family: 'Kalam';
  font-size: 18px;
  padding: 0px 20px;
}

.skills{
  display: flex;
  color: #98AFC7;
  text-decoration: underline;
  font-weight: bold;
}

.areasoft{
  
}

.areahard{
  
  
}

li:hover{
  color: black;
}

#projetos{
  font-family: 'Montserrat', monospace;
  font-weight: bold;
  font-size: 3em;
  color: #FFFFFF;
  text-align: center;
}

#comingsoon{
  height: 350px;
  width: 100%;
}

hr{
  border-color: black;
}

.flex{
display: flex;
padding: 0px 5px;
justify-content: flex-start;
text-align: left;
}

.projetosdiv{
}