*{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    min-height: 100%;
    background-image: url("pixel-jeff-chill-mario-2023-2.gif");
    background-size: cover;
}

button{
    text-decoration: none;
    color: #85E21F;
    font-size: 20px;
    border: 1px solid black;
    background-color: black;
    padding: 5px;
    border-radius: 15px;
    font-family: 'Common pixel';
}

nav{
    background-color: #F75F1C;
    padding: 25px;
}

a{
    text-decoration: none;
    color: #85E21F;
    font-size: 20px;
    border: 1px solid black;
    background-color: black;
    padding: 5px;
    border-radius: 15px;
    font-family: 'Common pixel';
}


body{
    margin: 0;
}

.navegationlist{
    margin: 0; 
    display: flex;
    list-style: none;
    justify-content: space-between;   
}

header{
    text-align: center;
    padding: 100px 100px;
}

.meunome{
    text-align: center;
    color: #FF9A00;
    display: inline-block;
    background-color: black;
    font-family: 'Common Pixel';
}

.imgsection{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#sobremim{
    font-weight: bold;
    font-size: 2em;
    font-family: 'Common Pixel';
    margin: 10px;
}

.textosobre{
    margin-inline: 125px;
    font-size: 23px;
    font-family: 'Mali';
    position: relative;
    background-color: rgba(133, 250, 31, 0.7);
    border: 2px solid black;
}

#meutexto{
    margin-bottom: 10px;
}

.listaskills{
    list-style: none;
    text-align: center;    
}

.skills{
    margin-block: 50px;
    display: flex;
    justify-content: space-evenly;
}

.areasskills{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(133, 250, 31, 0.7);
    padding: 10px;
    border: 2px solid black;
}

h2{
    font-family: 'Common pixel';
    margin: 10px;
}

.listaskills{
    font-family: 'Mali';
    font-size: 25px;
}

.aprendi{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(133, 250, 31, 0.7);
    padding: 10px;
    border: 2px solid black;
}

.tudoaprendi{
    list-style: none;
    font-family: 'Mali';
    text-align: center;
    font-size: 25px;
}

.secorgulho{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(133, 250, 31, 0.7);
    padding: 10px;
    border: 2px solid black;
}

.orgulho{
    list-style: none;
    font-family: 'Mali';
    text-align: center;
    font-size: 25px;
}

