.navegationlist{
    margin: 0; 
    display: flex;
    list-style: none;
    justify-content: space-between;   
}

.meunome{
    text-align: center;
    color: #FF9A00;
    display: inline-block;
    background-color: black;
    font-family: 'Common Pixel';
}

.imgsection{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#sobremim{
    font-weight: bold;
    font-size: 2em;
    font-family: 'Common Pixel';
    margin: 10px;
}

.textosobre{
    margin-inline: 125px;
    font-size: 23px;
    font-family: 'Mali';
    position: relative;
    background-color: rgba(133, 250, 31, 0.7);
    border: 2px solid black;
}

#meutexto{
    margin-bottom: 10px;
}

.listaskills{
    list-style: none;
    text-align: center;    
}

.skills{
    margin-block: 50px;
    display: flex;
    justify-content: space-evenly;
}

.areasskills{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(133, 250, 31, 0.7);
    padding: 10px;
    border: 2px solid black;
}

h2{
    font-family: 'Common pixel';
    margin: 10px;
}

.listaskills{
    font-family: 'Mali';
    font-size: 25px;
}

.aprendi{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(133, 250, 31, 0.7);
    padding: 10px;
    border: 2px solid black;
}

.tudoaprendi{
    list-style: none;
    font-family: 'Mali';
    text-align: center;
    font-size: 25px;
}

.secorgulho{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(133, 250, 31, 0.7);
    padding: 10px;
    border: 2px solid black;
}

.orgulho{
    list-style: none;
    font-family: 'Mali';
    text-align: center;
    font-size: 25px;
}

@media (max-width: 768px) {
  .navegationlist {
    flex-direction: column;
    align-items: center;
  }

  .navegationlist li {
    margin-bottom: 10px;
  }

  .textosobre {
    margin-inline: 10px;
  }

  #sobremim {
    font-size: 1.5em;
  }

  .skills {
    flex-direction: column;
  }

  .areasskills, .aprendi, .secorgulho {
    margin-bottom: 20px;
    margin-inline: 10px;
  }

  #meutexto, .listaskills, .tudoaprendi, .orgulho {
    font-size: 20px;
  }
}
